
 <!doctype html>
<html lang="en">
<header>
    <h1 class="Myname fade-in">Alex<br>William<br>King</h1>
        <div id="image-container">   
            <img class="github fade-in" src="./assets/images/Giticon.png" alt="Github"
            onclick="window.open('https://github.com/awki226', '_blank')"/>
            <img class="linkedin fade-in" src="./assets/images/Linkedin.png" alt="Linkedin"
            onclick="window.open('https://www.linkedin.com/in/alex-king-b195b5121/', '_blank')"/>
            <a href="mailto:awki226@g.uky.edu" target="_blank"><img class="email fade-in" src="./assets/images/email.png" alt="email"/></a>
        </div>
</header>
    <section class="banner">
        <h3 class="inter-link">About me</h3>
        <h3 class="inter-link">Projects</h3>
        <h3 class="inter-link">Fun stuff</h3>
        <h3 class="inter-link">Contact Me</h3>
    </section>
    <body>
    <h2>About me :</h2>
        <div id="About-container">
            <p>     I am an entry level software engineer located out of Lexington, KY. I graduated
                from the University of Kentucky in 2021 with a Bachelors of Science in Computer Science,
                a certifcate in Cybersecurity and a minor in Mathematics. I am currently looking
                for an internship for the summer of 2021, in a full-stack position or backend. My 
                focus in school consisted of networks and systems. Outside of school I like to 
                game with my friends, shoot <a class="instagram fade-in" href="https://www.instagram.com/shotswithking/" target="_blank">photography</a>
                and I am a huge audiophile collecting records.
            </p>
        </div>
            <div id="skills">
                <h3>Skills</h3>
                    <ul>
                        <li>Python</li>
                        <li>C/C++</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Angular</li>
                        <li>Cryptology</li>
                        <li>SQL</li>
                    </ul>
            </div>

    
        <div id="Project-container">
            <h2>Projects</h2>
            <p>
                
            </p>
        </div>
    
    
    </body>