/* You can add global styles to this file, and also import other style files */
header {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/Dunes.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: black;
  width: 100%;
}

h2{
  color:#F5DF4D;
  opacity: 70%;
  text-align: left;
  font-family:'Bungee', cursive;
 }

.instagram {
  color:#F5DF4D;
  opacity: 80%;
}


.github {
 width: 5vw;
 height: 5vw;
 display: block;
 padding-left: 30px;
 padding-right: 30px;
}

.github:hover{
  transform: scale(1.2);
}


.linkedin{
 width: 5vw;
 height: 5vw;
 display: block;
 padding-left: 30px;
 padding-right: 30px;
}

.linkedin:hover{
  transform: scale(1.2);
}

.email{
 width: 5vw;
 height: 5vw;
 display: block;
 padding-left: 30px;
 padding-right: 30px;
}
.email:hover{
  transform: scale(1.2);
}

.Myname {
  color: black;
  font-family: 'Bungee', cursive;
  position: relative;
  text-align: center;
  font-size: 7vw;
  margin-top: 50px;
  margin-bottom: 50px;
  top: 5%;
}

.inter-link{
  color: #F5DF4D;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  font-family: 'Bungee', cursive;
}
.inter-link:hover{
  transform: scale(1.2);
}


.fade-in {
   animation: fadeIn ease 5s;
   -webkit-animation: fadeIn ease 5s;
   -moz-animation: fadeIn ease 5s;
   -o-animation: fadeIn ease 5s;
   -ms-animation: fadeIn ease 5s;
 }


 #about-container, p{
   width: 50%;
   height: 20%;
   text-align: left;
   color: whitesmoke;
   font-family: 'Roboto', sans-serif;
   font-style: Medium;
   margin-top: 10px;
   padding-top: 20px;
   float: left;
 }
 #skills {
   align-content:  right;
   float: left;
   width: 50%;
   height: 20%;
   border-radius: 10vw;
 }

 #skills, h3{
   text-align: center;
   color: #F5DF4D;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   opacity: 90%;
 }

 #skills, ul{
    color: whitesmoke;
    list-style: none;
    text-align: auto;
    font-size: 2vw;
 }
 section.banner {
   display: flex;
   justify-content: left;
   padding-right: 10px;
   padding-left: 10px;
   background-color:#939597;
   height:auto;
   width: auto;
  }

#project-container{
  float:none;
}
 #image-container{
    display: flex;
    margin-top: auto;
    padding-top: 30px;
    justify-content: center;
 }


 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
 }
 }

